<h3 class="ui header">{{t "forms.i-i-s-c-z-n-prilozhenie-карточка-гражданина-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-c-z-n-prilozhenie-карточка-гражданина-e.датаОбращения-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.датаОбращения
      class=(if (v-get validationObject "датаОбращения" "isInvalid") "error")
      data-test-i-i-s-c-z-n-prilozhenie-карточка-гражданина-e--------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "датаОбращения" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.i-i-s-c-z-n-prilozhenie-карточка-гражданина-e.личность-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.личность
      relationName="личность"
      projection="ЛичностьL"
      title=(t "forms.i-i-s-c-z-n-prilozhenie-карточка-гражданина-e.личность-caption")
      readonly=readonly
      componentName="личностьLookup"
      data-test-i-i-s-c-z-n-prilozhenie-карточка-гражданина-e---------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "личность" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.личность.фИО
      class=(if (v-get validationObject "личность.фИО" "isInvalid") "error")
      label=(t "forms.i-i-s-c-z-n-prilozhenie-карточка-гражданина-e.личность.фИО-caption")
      data-test-i-i-s-c-z-n-prilozhenie-карточка-гражданина-e-------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "личность.фИО" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-c-z-n-prilozhenie-карточка-гражданина-e.передачаКарточки-caption"}}</label>
    {{flexberry-groupedit
      componentName="передачаКарточкиGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.передачаКарточки
      content=model.передачаКарточки
      readonly=readonly
      orderable=false
      class=(if (v-get validationObject "передачаКарточки" "isInvalid") "error")
      data-test-i-i-s-c-z-n-prilozhenie-карточка-гражданина-e-----------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "передачаКарточки" "messages")}}
  </div>
</form>